@page "/"

<div id="HomeContent">
	<h5>Focal Healthcare</h5>
	<ul>
		<li><a href="https://mail.google.com/mail/u/0/#inbox">Inbox</a></li>
		<li><a href="http://jira.focalhealthcare.local/secure/RapidBoard.jspa?rapidView=35">Jira Sprint Board</a></li>
		<li><a href="http://jenkinsmaster.focalhealthcare.local:8083">Jenkins Dashboard</a></li>
		<li><a href="http://jenkinsmaster.focalhealthcare.local:8083/job/upstream/job/fusionbx/view/change-requests/">Jenkins Pull Requests</a></li>
		<li><a href="http://bitbucket.focalhealthcare.local:7990/projects/CODE/repos/fusionbx/pull-requests">Bitbucket Pull Request</a></li>
		<li><a href="http://localhost:8042/app/explorer.html">Orthanc Server</a></li>
		<li><a href="https://docs.google.com/">Google Docs</a></li>
	</ul>
	<ul>
		<li><a href="https://www.planitpoker.com/board/#/room/960f0d76e3ab4f4894d3111f892ba7ca">Planit Poker</a></li>
		<li><a href="http://jira.focalhealthcare.local/secure/RapidBoard.jspa?rapidView=35">Development Sprint Board</a></li>
	</ul>
</div>
